.App,
.login-wrapper {
  text-align: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.App-header {
  background-color: #1f984c;
  height: 100px;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-content,
.login-wrapper form {
  display: flex;
  flex: 1;
  flex-direction: column;
  background-color: white;
  color: black;
  padding: 20px;
}

.App-footer {
  background-color: #1f984c;
  min-height: 50px;
  font-size: calc(5px + 2vmin);
  color: white;

}

.error-container {
  color: #000;
  background-color: rgb(246, 133, 133);
  padding: 10px;
  margin: 5px;
}