.login-wrapper form {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.login-wrapper form > h2,
.login-wrapper form > div {
    display: inline-block;
    max-width: 500px;
    padding-bottom: 10px;
}

.login-wrapper label {
    text-align: left;
    align-items: left;
    padding-right: 10px;
    user-select: none
}