.login-wrapper form {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.login-wrapper form > h2,
.login-wrapper form > div {
    display: inline-block;
    max-width: 500px;
    padding-bottom: 10px;
}

.login-wrapper form > h2 {
    text-align: center;
    margin: 4px;
    padding: 4px;
}

.login-wrapper form > div {
    text-align: left;
}

.login-wrapper label {
    text-align: left;
    display: inline-block;
    padding-right: 10px;
    user-select: none;
    width: 150px;
}